{% extends "base_dashboard.html" %}

{% block main_content %}

<h1>Delete Post: {{ post }}</h1>

{% if post.comments.all %}

<p>You can't delete this post until all their comments have been deleted:</p>
<ul>
  {% for comment in post.comments.all %}
    <li><a href="#">{{comment}}</a></li>
  {% endfor %}
</ul>

{% else %}
<p>Are you sure you want to delete the post?</p>

<form action="" method="POST">
  {% csrf_token %}

  <input type="hidden" name="next" value="{{ request.GET.next }}">
  <button type="submit">Submit</button>
</form>
{% endif %}

{% endblock %}

