{% extends "base.html" %}

{% block content %}
    <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                     {% if page_obj %}
                     {% for post in page_obj %}
                    <div class="post-preview">
                        <a href="{% url 'blog:post-detail' post.id %}">
                            <h2 class="post-title">{{ post.title }}</h2>
                            <h3 class="post-subtitle">{{ post.summary }}</h3>
                        </a>
                        <!-- post tags and category -->
                        <h6>
                            {% if post.category %}
                                <span class="badge bg-info text-dark">{{ post.category.name }}</span>
                            {% endif %}
                            {% for tag in post.tags.all %}
                                <span class="badge bg-light text-dark">{{ tag.name }}</span>
                            {% endfor %}
                        
                        </h6>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">{{ post.author }}</a>
                            on {{ post.created_at }}
                        </p>
                        <!-- number of post comments
                        <p class="post-meta">
                            {{ post.comments.count }} Comments
                        </p> -->
                       
                    <!-- Divider-->
                    <hr class="my-4" />
                    {% endfor %}
                    {% else %}
                    <p>No posts available.</p>
                    {% endif %}
                           
                    
                </div>
            </div>
        </div>
{% endblock %}