{% extends "base.html" %}

{% block content %}
    <div class="panel panel-default mt-3">
        <div class="panel-heading p-3">

            ALL POSTS
        </div>
        <div class="panel-body">

            <!-- display posts -->
             {% if page_obj %}
               {% for post in page_obj %}
                    {% include "partials/posts_partials.html" %}
               {% endfor %}
             {% else %}
               <p>No posts available.</p>
             {% endif %}
        </div>
    </div>
{% endblock %}